</div>
<footer>

<section id="contact" class="mt-5">
    <div class="row">
        <div class="col-md-6 col-sm-12 col-xs-12">
            <p  class="footer-title">About Us</p>
           
                <p style="font-size: 12px;">Welcome to our book haven, where stories find new homes and readers discover endless adventures. At our book buy and sell store, we believe in the magic of secondhand tales, connecting hearts through the pages of cherished stories.</p>          
            
        </div>

    <div class="col-md-6 col-sm-12 col-xs-12 white-links mb-2">
        <p class="footer-title">Follow Us</p>
        <a href="https://facebook.com/" target="_blank">
            <i class="fa fa-facebook-square" aria-hidden="true"></i>
            Facebook
        </a>
          
          <a id="profile-link" target="_blank" href="https://instagram.com/">
           <i class="fa fa-instagram" aria-hidden="true"></i>
            Instagram
          </a>
          
         <a href="https://twitter.com/" target="_blank">
           <i class="fa fa-twitter" aria-hidden="true"></i>
            Twitter
          </a>
        
    </div>
      
    </div>
  </section>
  
  <section class="bottom-footer">
    <div class="row">
    <div class="col-12 mr-auto">
      © BooksBuySell **Worlds top book buy and sale portal.
    </div>
   </div>
  </section>

</footer>
</div>


<script src="/javascripts/main.js"></script>
</body>
</html>
